img{
    float:right;
    margin-top: 5%;
    margin-right: 5%;

}
body{
    background: url(./img/pop5.jpeg);
    background-size: cover;
}
#finalizacion{
    width: 250px;
    height: 250px;
    margin: 4%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
#pie {
    width: 630px;
    height: 150px;
    padding: 20px;
    margin: 20px;
    clear: both;
    border: 2px solid black;
  
  }
  h1::first-letter {
    font-size: 3rem;
    color:red;
    font-family:'Times New Roman', Times, serif;
  }
  h1+p{
    color:rgb(0, 51, 255);
  }
  input{
    border: 2px solid rgb(255, 238, 3);
    border-radius: 4px;
  
  }
 
