body{
    background: url(./img/lit3.webp);  
    background-size: cover;
}
#cajapadre{
    display: flex;
   padding-top: 15%;
    height: 300px;
    color:black;
    font-size:1.5rem;
  }
  
  #cajita1 {  
    background:url(./img/lit\ vanguardia.jpg);
    background-size: cover;
    align-self:flex-end;
    height: 400px;
    width: 450px;
    order:2;
    margin-left: 5px;
    margin-right: 5px;
    border: 10px solid;
    border-style: ridge;
  }
  #cajita2 {
    flex-basis: 30%;
    align-self:flex-end;
    order:1;
    margin-left: 10px;
    border: 8px solid;
    border-style:groove;
    padding-left: 1%;
    padding-right: 1%;
  }
  #cajita3 {
   flex-basis: 30%; 
    align-self:stretch;
    order: 3;
    border: 8px solid;
    border-style: ridge;
    padding-left: 1%;
    padding-right: 1%;
  }
  h1{
    text-align: center;
  }