body{
    background: url(./img/lit3.webp);  
    background-size: cover;
}
#cajapadre{
    display: flex;
   padding-top: 25%;
    height: 300px;
    color:black;
    font-size:1.4rem;
  }
  
  #cajita1 {  
    background-color: antiquewhite;
   
    align-self:flex-end;
    height: 400px;
    width: 450px;
    order:2;
    margin-left: 5px;
    margin-right: 5px;
    border: 10px solid;
    border-style: ridge;
  }
  #cajita2 {
    flex-basis: 30%;
    align-self:flex-end;
    order:1;
  
  }
  #cajita3 {
   flex-basis: 30%; 
    align-self:stretch;
    order: 3;
   
  }
  #cajita2,
  #cajita3{
    background-color: antiquewhite;
    border: 8px solid gray;
    border-style: ridge;
    padding-left: 1%;
    padding-right: 1%;
    
  }
  h1{
    text-align: center;
  }
  table {
    border-collapse: collapse;
    width:68%;
    margin-top: 10%;
    margin-left: 16%;
    
  }
  
  td {
    border: 3px solid brown;
    text-align:center;
  }
  tr:nth-child(odd){
    background-color:yellowgreen;
    
  }
  tr:nth-child(even){
    background-color: orangered;
  }
  p::first-letter {
    font-size:2rem;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  td:first-letter {
    font-size:1.6rem;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }