body {
  background: url(./img/vanguardia\ 2.webp);
  background-size: cover;
  padding-top: 3%;
}

#cabecera {
  text-align: center;
  font-size: 30px;
}

#cajapadre {
  display: flex;
  flex-flow: row wrap;
  background: url(./img/TentaciónSan-Antonio-Dalí.jpg);
  background-size: cover;
  height: 400px;
  color: black;
  font-size: 1rem;
  padding-top: 10%;
}

.cajita {
  background-color: aliceblue;
  width: 250px;
  height: 250px;
  margin: 4%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

input {
  border: 2px solid blue;
  border-radius: 4px;
}